# STM32-IDE Config files
/.settings/
/Core/Startup/
*.cproject
*.mxproject
*.project
AdaptiveTrafficLightSystem.ioc

# STM32 Build artifacts
/Release/
/Debug/
*.launch

# Cortex-ARM Drivers
/Drivers

# Cortex-ARM Specs files
*.ld